Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/*
!Content/SuperNatural/
新加坡地址生成器生成地址


# 忽略 Word 临时文件（以 ~$ 开头）
~$*
~*

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.idea